:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --tertiary-text-color60: #ffffff99;

  --background-color: #2f303a;
  --background-color-our-links: #ffffff1a;
  --button-secondary-background-color: #f5f4fa;
  --border-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--main-text-color);
}

a {
  color: var(--secondary-text-color);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
  font-weight: 700;
  margin: 0;
}

footer {
  background-color: var(--background-color);
}

img {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}

.section-top-bottom {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* header, navigation, address, footer */

.header {
  display: flex;
  align-items: center;
  /* outline: 2px solid tomato; */
}

.nav {
  display: flex;
}

.nav .link {
  font-family: Roboto;
  font-weight: 500;
  line-height: 0.875;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.nav .item:last-child {
  margin-right: 0;
}

.active-page {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.address .link {
  color: var(--main-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.address > .link:last-child {
  margin-right: 0;
}

/* footer {
  padding-bottom: 60px;
} */

.footer-address .link {
  color: var(--tertiary-text-color60);
  font-weight: 400;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer-address .location {
  color: var(--tertiary-text-color);
}

.footer-address .item {
  margin-bottom: 9px;
}

.footer-address .item:last-child {
  margin-bottom: 0;
}

.footer-main {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-column {
  margin-right: 70px;
}

.right-column-title {
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
}

.our-links {
  display: flex;
}

.our-links .item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color-our-links);
}

.our-links .item:not(:last-child) {
  margin-right: 10px;
}

.our-links .instagram,
.our-links .twitter,
.our-links .facebook,
.our-links .linkedin {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.our-links .instagram {
  background-image: url(../img/instagram2.svg);
}

.our-links .twitter {
  background-image: url(../img/twitter2.svg);
}

.our-links .facebook {
  background-image: url(../img/facebook2.svg);
}

.our-links .linkedin {
  background-image: url(../img/linkedin2.svg);
}

.mail-link::before {
  width: 16px;
  height: 12px;
  display: inline-flex;
  background-image: url(../img/envelope.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  content: "";
}

.phone-link::before {
  width: 10px;
  height: 16px;
  display: inline-flex;
  background-image: url(../img/smartphone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  content: "";
}

/* logo */

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo .logo-accent {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  color: var(--tertiary-text-color);

  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

/* hero */

.hero {
  background-color: #c4c4c4;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  /* margin-top: 200px; */
}

.hero-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  /* margin-bottom: 200px; */
  /* padding-bottom: 200px; */
}

/* advantages */

.advantages {
  display: flex;
}

.advantages .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantages .item:nth-child(4n) {
  margin-right: 0;
}

.item:nth-child(1) .advantages-title::before {
  width: 270px;
  height: 120px;
  display: inline-flex;
  content: "";
  background-position: 50% 50%;
  background-color: var(--button-secondary-background-color);
  background-repeat: no-repeat;
  background-image: url(../img/antenna\ 1.svg);
}

.item:nth-child(2) .advantages-title::before {
  width: 270px;
  height: 120px;
  display: inline-flex;
  content: "";
  background-position: 50% 50%;
  background-color: var(--button-secondary-background-color);
  background-repeat: no-repeat;
  background-image: url(../img/clock\ 1.svg);
}

.item:nth-child(3) .advantages-title::before {
  width: 270px;
  height: 120px;
  display: inline-flex;
  content: "";
  background-position: 50% 50%;
  background-color: var(--button-secondary-background-color);
  background-repeat: no-repeat;
  background-image: url(../img/diagram\ 1.svg);
}

.item:nth-child(4) .advantages-title::before {
  width: 270px;
  height: 120px;
  display: inline-flex;
  content: "";
  background-position: 50% 50%;
  background-color: var(--button-secondary-background-color);
  background-repeat: no-repeat;
  background-image: url(../img/astronaut\ 1.svg);
}

.advantages .advantages-title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.advantages .advantages-text {
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 1.71;
}

/* our activities */

.activities {
  display: flex;
}

/* маленькое контентное поле списка под картинкой */

.activities .item {
  margin-left: 0;
  margin-right: 30px;
}

.activities .item:nth-child(3n) {
  margin-right: 0;
}

/* our team */

.our-team-list {
  display: flex;
}

.our-team-list > .item {
  width: 270px;
  background-color: var(--tertiary-text-color);
  border-radius: 0px, 0px, 4px, 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;

  margin-right: 30px;
}

.our-team-list .item:nth-child(4n) {
  margin-right: 0;
}

.our-team-background {
  background-color: #f5f4fa;
}

.our-activities,
.our-team,
.our-clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.employee {
  margin-bottom: 30px;
}

.team-member {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.member-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.member-links {
  display: flex;
  width: 206px;
  height: 44px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.member-links > .item:not(:last-child) {
  margin-right: 10px;
}

.member-links .instagram {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../img/instagram1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-links .twitter {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../img/twitter1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-links .facebook {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../img/facebook1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-links .linkedin {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../img/linkedin1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* our clients */

.our-clients-list {
  display: flex;
  width: 1170px;
}

.our-clients-list > .item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: var(--border-color) 1px solid;
}

.our-clients-list > .item > .company-item {
  display: inline-block;
  width: 106px;
  height: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.item > .company1 {
  background-image: url(../img/group1.svg);
}

.item > .company2 {
  background-image: url(../img/group2.svg);
}

.item > .company3 {
  background-image: url(../img/group3.svg);
}

.item > .company4 {
  background-image: url(../img/group4.svg);
}

.item > .company5 {
  background-image: url(../img/group5.svg);
}

.item > .company6 {
  background-image: url(../img/group6.svg);
}

.our-clients-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* button */

.button {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  font-family: inherit;
}

.button.button-accent {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

.button.button-secondary {
  background-color: var(--button-secondary-background-color);
  color: var(--secondary-text-color);
  /* border: 1px solid var(--accent-color);   */
  /* border-color: var(--accent-color); */
}

/* filter */

.filter {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 38px;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list .item {
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

/* our works */

.our-works {
  display: flex;
  flex-wrap: wrap;
}

.our-works .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.our-works .item:nth-child(3n) {
  margin-right: 0;
}

.our-works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.our-works a {
  color: var(--main-text-color);
  text-decoration: none;
}

.our-works .our-works-picture {
  margin-bottom: 20px;
}

.our-works h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 2px;
}

.our-works .poject-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.outline {
  outline: 2px solid tomato;
}
