:root {
  --accent-color: #2196f3;
  --accent-color-transparent: #2196f3e5;
  --logo-color: #000000;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --tertiary-text-color60: #ffffff99;

  --background-color: #2f303a;
  --background-color-semi-transparent: #2f303acc;
  --background-color-our-links: #ffffff1a;
  --button-secondary-background-color: #f5f4fa;
  --border-color: #afb1b8;
  --backdrop-color: #00000033;
  --border-close-icon-color: #0000001a;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--main-text-color);
}

a {
  color: var(--secondary-text-color);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
  font-weight: 700;
  margin: 0;
}

footer {
  background-color: var(--background-color);
}

img {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}

.section-top-bottom {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* header, navigation, address, footer */

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav .link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation);
}

.nav .item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.nav .item:last-child {
  margin-right: 0;
}

.nav .active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

  border-radius: 2px;
}

.header-links {
  display: flex;
}

.header-links .item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.heder-address .item:last-child {
  margin-right: 0;
}

.heder-address {
  margin-left: auto;
}

.heder-address .link {
  color: var(--main-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-address .link {
  color: var(--tertiary-text-color60);
  font-weight: 400;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer-address .location {
  color: var(--tertiary-text-color);
}

.footer-address .item {
  margin-bottom: 9px;
}

.footer-address .item:last-child {
  margin-bottom: 0;
}

.footer-main {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-column {
  margin-right: 70px;
}

.right-column-title {
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--animation);
}

.mail-link {
  transition: color var(--animation);
}

.phone-link {
  transition: color var(--animation);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.mail-link:hover .mail-icon,
.mail-link:focus .mail-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--animation);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

.phone-link:hover .smartphone-icon,
.phone-link:focus .smartphone-icon {
  fill: var(--accent-color);
}

/* logo */

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo .logo-accent {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  color: var(--tertiary-text-color);

  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

/* hero */

.hero {
  background-color: #c4c4c4;
  background-image: url(../img/hero-overlay.png), url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
}

.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--backdrop-color);
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--tertiary-text-color);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.modal .thumb {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-close-icon-color);
}

.modal .close-icon {
  fill: var(--logo-color);
}

/* advantages */

.advantages {
  display: flex;
}

.advantages .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantages .item:nth-child(4n) {
  margin-right: 0;
}

.advantages .thumb {
  width: 270px;
  height: 120px;
  background-color: var(--button-secondary-background-color);
  margin-bottom: 30px;
}

.advantages-icon {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.advantages .advantages-title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.advantages .advantages-text {
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 1.71;
}

/* our activities */

.activities {
  display: flex;
}

/* маленькое контентное поле списка под картинкой */

.activities .item {
  position: relative;
  margin-left: 0;
  margin-right: 30px;
}

.activities .item:nth-child(3n) {
  margin-right: 0;
}

.activities .activities-title {
  display: inline-block;
  width: 100%;
  /* height: 70px; */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--background-color-semi-transparent);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* our team */

.our-team-list {
  display: flex;
}

.our-team-list > .item {
  width: 270px;
  background-color: var(--tertiary-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  margin-right: 30px;
}

.our-team-list .item:nth-child(4n) {
  margin-right: 0;
}

.our-team-background {
  background-color: #f5f4fa;
}

.our-activities,
.our-team,
.our-clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.employee {
  margin-bottom: 30px;
}

.team-member {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.member-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

/* our clients */

.our-clients-list {
  display: flex;
  gap: 30px;
  width: 1170px;
}

.our-clients-list > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: var(--border-color) 1px solid;
  transition: border-color var(--animation);
}

.our-clients-list > .item:hover {
  border-color: var(--accent-color);
}

.our-clients-list .icon {
  width: 106px;
  height: 60px;
  fill: var(--border-color);
  transition: fill var(--animation);
}

.our-clients-list > .item:hover .icon {
  fill: var(--accent-color);
}

/* button */

.button {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  font-family: inherit;
}

.button.button-accent {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

.button.button-secondary {
  background-color: var(--button-secondary-background-color);
  color: var(--secondary-text-color);
  /* border: 1px solid var(--accent-color);   */
  /* border-color: var(--accent-color); */
}

/* filter */

.filter {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 38px;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list .item {
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

/* our works */

.our-works {
  display: flex;
  flex-wrap: wrap;
}

.our-works .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--animation);
}

.our-works .item:nth-child(3n) {
  margin-right: 0;
}

.our-works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.picture-description {
  position: relative;
  overflow: hidden;
}

.picture-description .description {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-transparent);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform var(--animation);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--tertiary-text-color);
}

.our-works .item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.our-works .item:hover .description {
  transform: translateY(0);
}

.our-works a {
  color: var(--main-text-color);
  text-decoration: none;
}

.our-works .our-works-picture {
  margin-bottom: 20px;
}

.our-works h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 2px;
}

.our-works .poject-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

/* social */

.social {
  display: flex;
  gap: 10px;
}

.social .link {
  display: block;
}

.our-team-list .social {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

/* .social .item:not(:last-child) {
  margin-right: 10px;
} */

.social .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.our-team-list .thumb {
  background-color: var(--tertiary-text-color);
  transition: background-color var(--animation);
}

.footer-main .thumb {
  background-color: var(--background-color-our-links);
  transition: background-color var(--animation);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
}

.social .icon {
  width: 20px;
  height: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px; */
}

.footer-main .icon {
  fill: var(--tertiary-text-color);
}

.our-team-list .icon {
  fill: var(--border-color);
  transition: fill var(--animation);
}

.our-team-list .link:hover .icon,
.our-team-list .link:focus .icon {
  fill: var(--tertiary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.outline {
  outline: 2px solid tomato;
}
